<ion-content class="ion-no-padding">
  <div class="ion-padding ion-text-center" *ngIf="isLoading">
    <ion-spinner name="circles" color="dark"></ion-spinner>
  </div>
  <div class="ion-padding ion-text-uppercase" *ngIf="!isLoading && events.length < 1">
    Unfortunately, there are no events on the calendar at the moment.
  </div>
  <ion-grid class="ion-no-padding" *ngIf="events.length > 0">
    <ion-row class="event" *ngFor="let event of events">
      <ion-col size-xs="3" size-xl="2" class="ion-no-padding event-date ion-text-center ion-align-self-start date-item">
        <span class="date-number">{{ getDateDay(event.date) }}</span>
        <hr class="date-line">
        <span class="date-month">{{ getDateMonth(event.date) }}</span>
      </ion-col>
      <ion-col size-xs="9" size-xl="10" class="ion-no-padding event-content">
        <h2 class="event-name">{{ event.name }}</h2>
        <div class="event-time icon-text"><ion-icon name="time" class="icon"></ion-icon> {{ event.time }}</div>
        <p class="event-details">{{ event.details }}</p>
        <div class="event-address">
          {{ getLineOneFromAddress(event.address) }}<br>
          {{ getLineTwoFromAddress(event.address) }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
